﻿@model TestDotNetCoreMvc.Models.Contact
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 col-md-6 mx-auto">
    <h4>Contact Form</h4>
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="firstName" class="control-label"></label>
            <input asp-for="firstName" class="form-control" />
            <span asp-validation-for="firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="control-label"></label>
            <input asp-for="lastName" class="form-control" />
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="email" class="control-label"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="phone" class="control-label"></label>
            <input asp-for="phone" class="form-control" />
            <span asp-validation-for="phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="age" class="control-label"></label>
            @Html.DropDownList("age", Model.ageOptions, null, new { @class = "form-control" })
            <span asp-validation-for="age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="message" class="control-label"></label>
            @Html.TextAreaFor(model => model.message, new { @class = "form-control", @cols = 80, @rows = 10 })
            <span asp-validation-for="message" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            @if (ViewData["Error"] != null)
            {
            <div class="alert alert-danger" role="alert">
                @ViewData["Error"]
            </div>
            }
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
